<ng-container *ngIf="loading">
    Cargando...
</ng-container>
<ng-container *ngIf="!loading">
    <h1>ESTE ES EL DETALLE DEL PRODUCTO:</h1>
    <!-- Este producto es dinámico -->
    <!-- producto se arma buscando en el array según el id de la URL -->
    <p><b>Modelo: </b> {{producto?.modelo}}</p>
    <p><b>Marca: </b> {{producto?.marca}}</p>
    <p><b>Tipo: </b> {{producto?.tipo}}</p>
    <p><b>Stock: </b> {{producto?.stock}}</p>
</ng-container>



<!-- ESTAMOS EN EL PADRE -->
<div class="container">
    <p>Rodado: {{rodado}}</p>
    <p>Color: {{color}}</p>
    <p>¿Tiene frenos?: {{frenos}}</p>
</div>
<app-hijo/>