<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="true">
      <tr *ngFor="let producto of productos">
        <th scope="row">{{producto.id}}</th>
        <td>{{producto.title}}</td>
        <td>{{producto.price | currency}}</td>
        <td>{{producto.description}}</td>
        <button type="button" class="btn btn-primary" (click)="navegarADetalle(producto.id)">Ir a Detalle</button>
      </tr>
    </ng-container>
  </tbody>
</table>

<div [ngSwitch]="conditionExpression">
  <div *ngSwitchCase="'AUTO'">Recordá que con la compra de tu auto tenés 6 meses de seguro gratis</div>
  <div *ngSwitchCase="'CAMIONETA'">Recordá que con la compra de tu camioneta tenés 9 meses de seguro gratis</div>
  <div *ngSwitchCase="'CAMION'">Recordá que con la compra de tu camión tenés 12 meses de seguro gratis</div>
  <div *ngSwitchDefault>No dispones de una promoción</div>
</div>